# Database connection string
DATABASE_URI=postgresql://postgres:KvHmIdbhtjnbPtYnJoVIRDsilxFTHEBR@crossover.proxy.rlwy.net:30391/railway

# Used to encrypt JWT tokens
PAYLOAD_SECRET=YOUR_SECRET_HERE

# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Skip migration prompts in production (set to true for non-interactive deployments)
PAYLOAD_MIGRATE_SKIP_PROMPT=false
